html,
body {
   height:100vh;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  float: right;
  border: 1px solid #C6C6C6;
}
.float-right {
  border: 1px solid black;
  padding: 10px;
  width: 140px;
  text-align: center;
  margin-left: 65%;
}
img, svg {
  vertical-align: middle;
  width: 100px;
  display: flex;
  float: right;
  padding: 8px;
  margin: 8px;
}

label {
  display: block;
  margin-top: 10px;
  width: 108px;
}
input{
  width: 260px;
}

.btn-sub {
  color: black;
  margin-top: 20px;
  width: 129px;
  height: 29px;
  box-shadow: 1px 1px 1px black;
  border-radius: 30px;
  background: rgba(196, 196, 196, 0.38);
}

* {
  box-sizing: border-box;
}
button{
  justify-content: flex-end;
}
